.text-center {
  text-align: center;
}

@each $name, $value in("red", red), ("blue", blue), ("green", green),
  ("indigo", indigo), ("black", black)
{
  .bg-#{$name} {
    background-color: $value;
  }
}

// .bg-blue {
//   background-color: #0000ff;
// }

// .bg-green {
//   background-color: #00ff00;
// }

// .bg-red {
//   background-color: rgb(255, 0, 0);
// }

@each $value in 10, 20, 30, 40, 50 {
  .w-#{$value} {
    width: $value * 10px;
    height: $value * 10px;
    float: left;
  }
}

.header {
  font-weight: bold;
  font-size: 2rem;
}

#floatingAction {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: purple;
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  span {
    color: #ffffff;
    font-size: 2rem;
  }
}
